@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Kalam', cursive;
}

//* Typography *//

h1 {
	line-height: 1.5rem;
	font-weight: 800;
	font-size: 3rem;
	opacity: .8;
}

p {
	line-height: 1.6rem;
	font-weight: 600;
	opacity: .7;
}

//* Links *//

.nav-links {
	display: none;
}

img {
	display: block;
}

.fab {
	cursor: pointer;
	&:hover {
		transform: scale(1.5);
	}
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto auto;
	grid-template-areas: "header" "main" "footer";
}

header {
	grid-area: header;
	background-color: rgb(250, 190, 190);
	border: 3px solid grey;
}

.navbar {
	background: url("/Images/16.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 20rem;
	ul {
		margin: 0;
	}
}

.nav-links {
	a {
		font-weight: 800;
		color: #000;
		&:hover {
			opacity: .8;
			color: grey;
		}
	}
}

.hello {
	text-align: center;
	background-color: #fff;
	padding: .7rem;
}

main {
	grid-area: main;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.full {
	display: flex;
	flex-direction: column;
}

.rant {
	display: flex;
	flex-direction: row;
	margin: 1rem 0;
}

.right {
	position: relative;
	// animation: fadein 3s;
	// -moz-animation: fadein 3s; /* Firefox */
	// -webkit-animation: fadein 3s; /* Safari and Chrome */
	// -o-animation: fadein 3s; /* Opera */
}

.left {
	position: relative;
	// animation: fadein 2s;
	// -moz-animation: fadein 2s; /* Firefox */
	// -webkit-animation: fadein 2s; /* Safari and Chrome */
	// -o-animation: fadein 2s; /* Opera */
}

.story,
.story-img {
	flex-basis: 50%;
	border: 2px solid grey;
	display: flex;
	justify-content: center;
	align-items: center;
}
.story {
	text-align: center;
	p {
		margin: 0 10%;
	}
}
.story-img {
	img {
		max-width: 100%;
		margin: auto;
	}
}
.story-2,
.story-4,
.story-6,
.story-8 {
	order: 2;
}

footer {
	grid-area: footer;
	background: #000;
	color: #fff;
	ul {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			margin: 1rem;
		}
		a {
			text-decoration: none;
		}
	}
}

//* Hamburger Navbar *//

#menuToggle {
	display: block;
	position: relative;
	top: 2rem;
	left: .17rem;

	z-index: 1;

	-webkit-user-select: none;
	user-select: none;
}

#menuToggle a {
	text-decoration: none;
	color: #232323;

	transition: color 0.3s ease;
}

#menuToggle a:hover {
	color: tomato;
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 2rem;
	position: absolute;
	top: -.5rem;
	left: .6rem;

	cursor: pointer;

	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */

	-webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	margin-left: 1rem;
	position: relative;

	background: #000;
	border-radius: 3px;

	z-index: 1;

	transform-origin: 4px 0px;

	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
		opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	// background: #232323;
	background: #fff;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
	position: absolute;
	width: 100%;
	margin: -100px 0 0 -3.5px;
	padding: 1rem 1rem;
	padding-top: 125px;
	background: url("/Images/2.gif");
	background-repeat: none;
	background-size: contain;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */

	transform-origin: 0% 0%;
	transform: translate(-100%, 0%);

	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
	padding: .5rem 0;
	font-size: 1rem;
	color: #fff;
	opacity: .7;
	&:hover {
		opacity: 1;
	}
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
	transform: none;
}

@media (min-width: 45rem) {
	html,
	body {
		width: 100%;
		height: 100%;
	}
	header {
		width: 80%;
		height: 100vh;
		margin: 4rem auto 0 auto;
		.hello {
			padding: 2rem 0;
		}
	}
	.navbar {
		height: 50%;
		border-bottom: 3px solid black;
	}
	.hello {
		height: 50%;
	}
	main {
		background: #fff;
	}
	#menuToggle {
		display: none;
	}
	.nav-links {
		display: block;
	}
	.nav-links {
		border-bottom: 3px solid black;
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			margin: 1rem;
		}
		a {
			text-decoration: none;
		}
	}
	.full {
		width: 90%;
		margin: 0 auto;
	}
	.rant {
		width: 80%;
		margin: 1rem auto;
		img {
			width: 50%;
		}
	}
}

@media (min-width: 45rem) and (max-width: 64rem) {
	.hello {
		height: 15rem;
	}
	.container {
		margin: 0 0;
	}
	header {
		margin: 0 auto;
		height: 33.5rem;
	}
	.navbar {
		height: 18rem;
	}
}

//* Animations *//

//* Right *//
@keyframes fadein {
	from {
		opacity: 0;
		right: -100px;
	}
	to {
		opacity: 1;
		right: 0;
	}
}
@-moz-keyframes fadein {
	/* Firefox */
	from {
		opacity: 0;
		right: -100px;
	}
	to {
		opacity: 1;
		right: 0;
	}
}
@-webkit-keyframes fadein {
	/* Safari and Chrome */
	from {
		opacity: 0;
		right: -100px;
	}
	to {
		opacity: 1;
		right: 0;
	}
}
@-o-keyframes fadein {
	/* Opera */
	from {
		opacity: 0;
		right: -100px;
	}
	to {
		opacity: 1;
		right: 0;
	}
}

///* Left *///

@keyframes fadein {
	from {
		opacity: 0;
		left: -100px;
	}
	to {
		opacity: 1;
		left: 0;
	}
}
@-moz-keyframes fadein {
	/* Firefox */
	from {
		opacity: 0;
		left: -100px;
	}
	to {
		opacity: 1;
		left: 0;
	}
}
@-webkit-keyframes fadein {
	/* Safari and Chrome */
	from {
		opacity: 0;
		left: -100px;
	}
	to {
		opacity: 1;
		left: 0;
	}
}
@-o-keyframes fadein {
	/* Opera */
	from {
		opacity: 0;
		left: -100px;
	}
	to {
		opacity: 1;
		left: 0;
	}
}
